<mat-toolbar color="primary">
  <div class="toolbar-content">
    <button mat-icon-button (click)="menuToggle.emit()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular Keycloak</span>
    <span class="spacer"></span>
    <ng-container *ngIf="isAuthenticated$ | async; else loginButton">
      <button mat-button (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #loginButton>
      <button mat-button (click)="login()">Login</button>
    </ng-template>
  </div>
  <div *ngIf="(isAuthenticated$ | async) && (userData$ | async) as user" class="user-info-block">
    <div>{{ user?.userData?.preferred_username || user?.userData?.name || user?.preferred_username || user?.name || 'User' }}</div>
  </div>
</mat-toolbar>
