.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 16px;
    /* space between cards */
}

.pre-wrapper {
    overflow-x: auto;
    white-space: pre-wrap;
    word-break: break-word;
}