:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container {
  flex: 1;
  display: flex;
  height: calc(100vh - 64px); /* height minus toolbar */
}

.sidebar {
  width: 250px;
}

.content {
  flex-grow: 1;
  padding: 24px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 250px;
  }
  mat-sidenav-container {
    flex-direction: column;
  }
}
